{
email ilikefike@fikeweb.com
}

www.ilikefike.com, ilikefike.com {
header Content-Type text/html
respond <<HTML 
    <html>
    <head>
        <title>Foo</title>
    </head>
    <body>Foo</body>
    </html>
    HTML 200
    tls /etc/ssl/certs/certificate.pem /etc/ssl/private/key.pem
}

whoami.ilikefike.com {
    reverse_proxy http://whoami:2001
}

cloud.ilikefike.com:443 {
    reverse_proxy https://nextcloud-aio-mastercontainer:8080
    tls /etc/ssl/certs/certificate.pem /etc/ssl/private/key.pem
}

adminer.ilikefike.com {
    reverse_proxy https://adminer:8080
    tls /etc/ssl/certs/certificate.pem /etc/ssl/private/key.pem
}
