{
email ilikefike@fikeweb.com
}

(tls) {
    tls /etc/ssl/certs/certificate.pem /etc/ssl/private/key.pem
}

www.ilikefike.com, ilikefike.com {
    header Content-Type text/html
    root * /etc/caddy/web
    file_server
    import tls
}

whoami.ilikefike.com {
    reverse_proxy http://whoami:2001
    import tls
}

cloud.ilikefike.com {
    reverse_proxy https://nextcloud:8080
    import tls
}

adminer.ilikefike.com {
    reverse_proxy http://adminer:8080
}
