{
email ilikefike@fikeweb.com

}

*.ilikefike.com, localhost, 159.89.93.199 {
    respond <<HTML
        <html>
            <head><title>Foo</title></head>
            <body>Foo</body>
        </html>
    HTML 200
}
